
.imagen-single{
  padding-top: 70px;
  margin-top: 50px;
  height: 600px;
  width: 100%;
  background-color: #121212;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.texto-single{
  border-left: 4px solid white;
  border-right: 4px solid white;
  padding-top: 20px;
  height: 100%;
  /* background-color: green; */
  color: white;
  padding-left: 100px;
  padding-bottom: 50px;
  padding-right: 100px;
}


.texto-single p{
  /* margin-bottom: x; */
}

.img-directores-wp-single{
  width: 450px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
